<%@LANGUAGE="JAVASCRIPT" CODEPAGE="65001"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/logIn.dwt.asp" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>LoginPage</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">

.container .content #form1 table { 
font-family: Arial, Helvetica, sans-serif;
 font-size: 15px; font-style: normal; 
 word-spacing: normal;
  border-collapse:collapse; 
  border-style: inset;
   text-align: center; 
  
}
</style>
<!-- InstanceEndEditable -->

<link href="Main.css" rel="stylesheet" type="text/css" />
<link href="otherpage.css" rel="stylesheet" type="text/css" />

<link href="extras.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container">
  <div class="header">
    <p><a href="#"><img src="images/logo.png" alt="logoImage" name="Insert_logo" width="199" height="128" id="Insert_logo" style="background: #C6D580; display:block;" /></a></p>
    <p>&nbsp;</p>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Course</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
   
    <!-- end .sidebar1 --></div>
    <!-- InstanceBeginEditable name="conent" -->
  <div class="content"><!-- end .content -->
    <form id="form1" name="form1" method="post" action="">
    <table width="99%" align="left">
  <tr>
  <th><h1>LogIn</h1></th></tr>
  <tr>
    <td width="100%"><p>User Name:   
        <label for="username"></label>
      <input type="text" name="username" id="username" />
      <span class="forgetUsername">Forget Your User Name</span>
    </p></td>
  
  </tr>
  <tr>
    <td>&nbsp;</td>
  
  </tr>
  <tr>
    <td><p>Password:
        <label for="password"></label>
      <input type="text" name="password" id="password" />
      <span class="forgetUsername">Forget Your Password</span></p></td>
   </tr>
  <tr>
    <td>&nbsp;</td>
   
  </tr>
  <tr>
    <td><p><input type="submit" name="logInSubmit" id="logInSubmit" value="Login" />        
         <input name="loginCancel" value="Cancel" type="button" />
       </p></td></tr>
 
</table>
  </form></div>
  <!-- InstanceEndEditable -->
  <div class="footer">
<p>&nbsp; </p>
  <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
